#about {
  section:nth-child(2) {
    position: relative;

    p:nth-of-type(2) {
      align-self: center;
      margin-top: 1rem;
      color: var(--color-secondary);
      font-family: var(--font-family-serif);
      font-size: 1.25rem;
      font-weight: var(--font-weight-strong);
      text-transform: uppercase;
      text-align: center;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 1rem 0 2rem;
      padding: 0;
      list-style: none;

      li {
        margin: 0.25rem;
        padding: 0.25rem 0.75rem;
        border-top: 4px solid var(--color-primary-alt);
        background-color: var(--color-secondary);
        color: var(--color-light);
      }
    }
  }
}
