// stylelint-disable no-descending-specificity
body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-family-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-serif);
  text-transform: uppercase;
  color: var(--color-secondary);
}

h1,
h2 {
  text-shadow: 2px 2px var(--color-primary-alt);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1024px;
  margin: 0 auto;
}

main {
  padding-top: 5vh;
  padding-bottom: 5vh;

  &:focus {
    outline: none;
  }
}

// Sections linked with hash effect
:target {
  animation: highlight .5s ease;
}
@keyframes highlight {
  0% { transform: translateY(-1rem); }
  100% { transform: translateY(0); }
}

article {
  section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 2rem;

    @media (min-width: 768px) {
      padding-top: 5rem;
    }
  }
}

article,
#styles {
  padding: 1rem;
}

.page-footer ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  list-style: none;
}

.features {
  display: grid;
  margin: 0 0 2rem;
  padding: 0;
  grid-gap: 1em;
  list-style: none;
}
