nav {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;

  min-height: 4rem;

  background-color: var(--color-secondary);
  border-top: 4px solid var(--color-primary-alt);

  ul {
    display: flex;
    align-items: center;
    max-width: 1024px;
    overflow-x: scroll;
    margin: 0 auto;
    padding: 1rem 0;
    list-style: none;

    li {
      width: 100%;
    }

    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 120px;
      padding: 0 0.75rem;
      color: var(--color-light);
      font-size: .75rem;
      letter-spacing: .1rem;
      text-transform: uppercase;
      line-height: 1;
      text-decoration: none;

      &::before {
        content: "";
        width: 2rem;
        height: 2rem;
        display: block;
        margin: 0 auto .5rem;
        background-repeat: no-repeat;
        background-position: center center;
      }

      @media (min-width: 1024px) {
        font-size: .9rem;
        width: auto;
      }

      // Mobile icons
      &[href="#about"]::before {
        background-image: url("#{icons(about)}");
      }
      &[href="#guidelines"]::before {
        background-image: url("#{icons(guidelines)}");
      }
      &[href="#contribute"]::before {
        background-image: url("#{icons(contribute)}");
      }
      &[href="#files"]::before {
        background-image: url("#{icons(files)}");
      }
      &[href="/styles/"]::before {
        background-image: url("#{icons(styles)}");
      }
      &[href="/resources/"]::before {
        background-image: url("#{icons(resources)}");
        
      }
    }
  }

  @media (min-width: 768px) {
    ul {
      justify-content: space-around;
      overflow-x: auto;
    }
  }
}
