.profile {
  padding: 2rem;
  background-color: var(--color-secondary);
  border-top: 4px solid var(--color-primary-alt);
  color: var(--color-light);
  box-shadow: 0 2px 4px rgba(0,0,0,.15);
  z-index: 1;

  .container {
    h4 {
      color: inherit;
      line-height: 1.25;
      text-align: center;
    }
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 0 2rem;
    padding: 0;
    list-style: none;

    li {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
      justify-content: space-between;
      width: 100%;

      span:nth-child(1) {
        width: auto;
        margin-right: 0.25rem;
        font-size: 1.15rem;
        font-weight: var(--font-weight-strong);
      }

      span:nth-child(2) {
        font-size: 1rem;
        a {
          color: inherit;
        }
      }
    }
  }

  @media (min-width: 768px) {
    position: absolute;
    top: 3rem;
    left: -3rem;
    right: -3rem;
    padding: 1rem 3.5rem;
    transform: translateY(1rem) rotateZ(-5deg);


    .container {
      flex-direction: row;
      justify-content: space-around;
      max-width: 100%;

      h4 {
        margin: 0;
        text-align: left;
      }
    }

    ul {
      margin: 0;
      flex-wrap: unset;
      justify-content: unset;

      li {
        justify-content: flex-start;
        padding: 0 .5rem 0 0;
        width: auto;
      }
    }
  }
}
